body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
    background: var(--background-color);
    color: var(--text-color);
}