:root {
    --background-color: #004B80;
    --foreground-color: #0071C0;
    --border-color: #004B80;
    --text-color: #F8F8F2;
    --link-color: #FFFFFF;
    --warn-color: #CD9731;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

header {
    display: flex;
    justify-content: center;
    height: 8vh;
    font-family: "Courier New", Courier, monospace;
    background: var(--foreground-color);
    color: var(--text-color);
    border-bottom: 2pt solid var(--border-color);
    transition: 0.5s cubic-bezier(0.05, 0.95, 0, 1);
}

navigator {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-inline: 5vw;
    transition: 0.5s cubic-bezier(0.05, 0.95, 0, 1);
}

navigator:hover {
    cursor: pointer;
}

navigator:not([active]), dropdown[type="navigation"]:not([active]) {
    filter: brightness(75%);
}

navigator:not([active]):hover, dropdown[type="navigation"]:not([active]):hover {
    filter: brightness(100%);
}

dropdown[type="navigation"] {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    padding-inline: 5vw;
    transition: 0.5s cubic-bezier(0.05, 0.95, 0, 1);
}

dropdown::before {
    content: attr(text);
}

dropdown:hover dropdown-content {
    display: block;
}

dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 0.75em;
    background: var(--foreground-color);
}

dropdown-content > navigator:not([active]) {
    display: block;
}

.warning {
    padding: 1vh;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: var(--warn-color);
    color: var(--text-color);
}

/* Mobile - Landscape */
@media all and (min-width: 480px) and (orientation: landscape) {
    header {
        height: 15vh;
    }

    navigator, dropdown[type="navigation"] {
        padding-inline: 2vw;
    }
}

/* Tablet */
@media all and (min-width: 768px) {
    header {
        height: 6vh;
    }

    navigator, dropdown[type="navigation"] {
        padding-inline: 2vw;
    }
}

/* Tablet - Landscape */
@media all and (min-width: 768px) and (orientation: landscape) {
    header {
        height: 15vh;
    }

    navigator, dropdown[type="navigation"] {
        padding-inline: 2vw;
    }
}

/* Desktop */
@media all and (min-width: 1024px) {
    header {
        height: 8vh;
    }
}

/* Desktop - Wide */
@media all and (min-width: 1200px) {
    header {
        height: 6vh;
    }

    navigator, dropdown[type="navigation"] {
        padding-inline: 1vw;
    }
}