main {
    display: flex;
    height: 100%; /* website wont respond so adding comment */
    overflow: hidden;
}

.content {
    flex: 1;
    align-content: center;
    text-align: center;
    font-family: serif;
    background: #1E2D2D;
}

.content p {
    padding-bottom: 1vh;
    color: #FFFFFF;
}
