:root {
    --primary-background: #000;
    --primary-text: #CCC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Courier New", Courier, monospace;
}